.ipynb_checkpoints/coins networks structure-checkpoint.ipynb
.ipynb_checkpoints/coins networks structure-checkpoint.ipynb
.Rhistory
main.dvi
main.out
main.aux
main.bbl
main.blg
main.log
main.pdf
main.synctex.gz
.Rapp.history
references.log
reference.synctex.gz
images alias.jpg
