fourdays_sample1_directed_nau1_output/
fourdays_sample1_undirected_nau2_output/
twodays_sample2_directed_nau1_output/
twodays_sample2_undirected_nau2_output/
untimed_sample1_undirected_nau1_output/
untimed_sample1_undirected_nau3_output/
untimed_sample1_undirected_nau4_output/
untimed_sample2_directed_nau2_output/
untimed_sample2_directed_nau4_output/
